
body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}


.game {
   align-content: center;
   display: inline-block;
   background-color: #333; 
   border: 10px solid #FFF;
   width: 95%;
   height: 425px;
   margin: 0;
   padding: 50px;
}

.choice {
   margin: 10px;
   min-width: 76px;
   border: 1px solid #999;
   font-size: 6em;
   background-color: #555; 
   color: white;
   border-radius: 5px;
   transition-duration: 1.25s;
}

.choice:focus{
   background-color: #777;
   outline-color: #00BBBB;
   box-shadow: 0 0 3px 2px #00BBBB;
}

#result {
   min-width: 80%;
   border: 1px solid #999;
   background-color: #555;
   text-align: left;
   line-height: 1.4em;
   display: block;
   position: relative;
   margin-top: 3em; 
   font-size: 1.4em;
   padding-left: 6px;
}


